<!--<div class="cuerpo">
    <p style="color: red;">${sessionScope.operacion}</p>
    <nav>
        <h1>Menú</h1>
        <h3>¿Qué operación desea realizar?</h3>
    </nav>
    <br> 
    <a href="ingreso.jsp">Ingreso</a> <br> <br> 
    <a href="extraccion.jsp">Extracción</a> <br> <br> 
    <a href="transferencia.jsp">Transferencia</a> <br> <br> 
    <a href="movimientos.jsp">Movimientos</a> <br> <br> 
    <a href="login.jsp">Cerrar Sesión</a>
</div><-->
<app-movimientos></app-movimientos>

<router-outlet></router-outlet>